body{
    margin: 0%;
}

header{
    background: rgba(21, 195, 201, 0.616);
    width: 100%;
    height:100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 1px solid rgba(21, 195, 201, 0.616);
}
ul{
    list-style: none;

}
li{
    display: block;
    float: left;
    padding: 10px;
}
a{
    color: rgb(239, 240, 240);
    text-decoration: none;
    font-weight:bold; 
}
a:hover{
    
    text-decoration: none;
    color: #fff; 
}
#logo{
    margin: 5px;
   float: left; 
    width: 300px;
    height: 95px;
    background: url(../video/20.png) no-repeat center;
    display: block;
}
nav{
    float: right;
    padding: 10px !important;
    font-family: Verdana;

}

#menu_icon{
    background:  url(../video/icono2.png) no-repeat center;
    width: 32px;
    height: 32px;
    display: hidden;
}
#video{
    width: 100vw;
    position: fixed;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;;
   
    /*min-width: 800px;
    min-height: 500px;*/
    
}
@media only screen and (max-width:640px){
    header{
        position: absolute;

    }
    #menu_icon{
        display: inline-block;
    }
    nav ul, nav:active ul{
        display: none;
        position: absolute;
        padding: 20px;
        background: rgba(21, 195, 201, 0.616);
        color: rgb(56, 128, 170);
        right: 10px;
        top: 65px;
        width: 35%;

    }
    nav:hover ul{
        display: block;
    }
    nav li{
        text-align: center;
        width: 100%;
        padding: 15px;
        margin: 0;

    }
}