body{
    margin: 0%;
}
.h1{
    align-content: center;
    background: #24c5f6;
}
header{
    background: #24c5f6;
    width: 100%;
    height:76px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 5px solid #24c5f6;
}
ul{
    list-style: none;

}
li{
    display: inline-block;
    
    padding: 10px;
}
a{
    color: #fff;
    text-decoration: none;
    font-weight:bold; 
}
a{
    
    text-decoration: none;
    color: blue; 
}
#logo{
    margin: 5px;
    float: left;
    width: 250px;
    height: 63px;
    background: url(video/logo10.png) no-repeat center;
}