* {
  box-sizing: border-box;
  }
body{
margin: 0;
font-size: 1rem;
line-height: 1.5;
color:#333
overflow-x:hidden;
}
.header{
  height: 100vh;
  display: flex;
  align-items: center;


}
.content{
  max-width: 49rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;

}
.header-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.header-video video{
  min-width: 100%;
  min-height: 100%;
}
.header-overlay{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background:#333;
  z-index: 1;
  opacity: .6;
}
.header-content{
  z-index: 2;
}

.header-content h2{
  font-size: 30px;
  margin-bottom: 0;
  font-family: sans-serif;
  color: #58FAF4;
}
.header-content p{
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
    color: #fff;
}
.header-content h3{
  font-size: 25px;
  margin-bottom: 0;
  font-family: inherit;
    color: #fff;
}
.btn{
  background: #c44569;
  color:#fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}
@media (max-width:960px) {
  .content{
    padding: 0 3rem 0 3rem;
  }

}
